table {
  border-style: hidden;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  border-radius: 10px;
  border-collapse: collapse;
  text-align: center;
  font-family: Georgia, serif;
}
tr:hover td {
  background-color: #D6EEEE;
}
tr.selected td {
  background-color: #D6EEEE;
}
.primary {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 20px;
}
.containers {
  display: flex;
}
.TOL, .LAK {
  width: 50%;
  padding: 10px;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 20px;
}
.lak_bip_table {
  border-collapse: collapse;
}
.tol_bip_table {
  border-collapse: collapse;
}
h1 {
  font-family: Georgia, serif;
}
