table {
  border-style: hidden;
  border-collapse: collapse;
  align-items: center;
}
th, td {
  border: 1px solid black;
  border-radius: 10px;
  border-collapse: collapse;
  text-align: center;
  font-family: Georgia, serif;
}
tr:hover td {
  background-color: #D6EEEE;
}
tr.selected td {
  background-color: #D6EEEE;
}
input {
  width: 300px;
  height: 30px;
}
.primary {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 20px;
}
.containers {
  display: flex;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 20px;
}
.TOL, .LAK {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 20px;
  align-items: center;
}
.link_left, .link_right {
  width: 50%;
  padding: 10px;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 20px;
  align-items: center;
}
.table_center {
  margin: 0px auto;
}
/*
.lak_bip_table {
  border-collapse: collapse;
}
.tol_bip_table {
  border-collapse: collapse;
}
*/
h1 {
  font-family: Georgia, serif;
}
